.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.hero-section .left-container{
    padding: 15px;
}
.hero-section .left-container .hero-text{
    width: 15ch;
    font-size: 3em;
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    color: #D6B07B;
}
.hero-section .left-container .subheading-text{
    width: 50ch;
    margin: 10px 0;
    font-weight: 300;
}
.hero-section .left-container .menu-btn{
    width: 150px;
    height: 40px;
    margin-top: 10px;
    background-color: #D6B07B;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.hero-section .right-container{
    display: flex;
    justify-content: center;
}
.hero-section .right-container img{
    width: 60%;
}